# Redirect of pre 2018 pages to new ones
Redirect 301 /forum https://www.zzap.it
Redirect 301 /phpBB2 https://www.zzap.it
Redirect 301 /phpBB3 https://www.zzap.it
Redirect 301 /bovabyte.php https://www.zzap.it/speciali/bovabyte
Redirect 301 /elite.htm https://www.zzap.it/speciali/elitesystems
Redirect 301 /home.php https://www.zzap.it
Redirect 301 /konix.htm https://www.zzap.it/speciali/konixmultisystem
Redirect 301 /storia.htm https://www.zzap.it/speciali/leabbiamovistetutte
Redirect 301 /database.php https://www.zzap.it/giochi
Redirect 301 /gioco.php https://www.zzap.it/giochi
Redirect 301 /link.php https://www.zzap.it
Redirect 301 /mappe.php https://www.zzap.it/mappe
Redirect 301 /maps.php https://www.zzap.it/mappe
Redirect 301 /recensioni.php https://www.zzap.it
Redirect 301 /search.php https://www.zzap.it/giochi
Redirect 301 /speciali.php https://www.zzap.it/speciali
Redirect 301 /rivista.php https://www.zzap.it
Redirect 301 /Retroedicola-Speciale-Zzap.pdf https://www.zzap.it/assets/content/speciali/zzap-retroedicola/Retroedicola-Speciale-Zzap.pdf

<IfModule mod_rewrite.c>
	RewriteEngine on

	# Redirect of pre 2018 pages to new ones
	RewriteCond %{QUERY_STRING} ^numero=([0-9]+)$
	RewriteRule ^scansioni\.php$ https://www.zzap.it/numero/%1? [R=301,L,NE]
	RewriteCond %{QUERY_STRING} ^numero=([0-9]+)$
	RewriteRule ^scansionidown\.php$ https://www.zzap.it/numero/%1? [R=301,L,NE]

	RewriteCond %{QUERY_STRING} ^album=([0-9]+)&immagine=([0-9]+)$
	RewriteRule ^explorer\.php$ https://www.zzap.it/numero/%1/pagina/%2? [R=301,L,NE]
	RewriteCond %{QUERY_STRING} ^album=([0-9]+)$
	RewriteRule ^explorer\.php$ https://www.zzap.it/numero/%1? [R=301,L,NE]
	RewriteCond %{QUERY_STRING} ^album=([0-9]+)$
	RewriteRule ^explorerpub\.php$ https://www.zzap.it/numero/%1? [R=301,L,NE]

	RewriteCond %{QUERY_STRING} ^numero=([0-9]+)$
	RewriteRule ^scansioni\.php$ https://www.zzap.it/numero/%1? [R=301,L,NE]
	RewriteCond %{QUERY_STRING} ^numero=([0-9]+)$
	RewriteRule ^scansionidown\.php$ https://www.zzap.it/numero/%1? [R=301,L,NE]

	# Rewrite to HTTPS and add www:
	RewriteCond %{HTTPS} off [OR]
	RewriteCond %{HTTP_HOST} !^www\. [NC]
	RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$ [NC]
	RewriteRule ^ https://www.%1%{REQUEST_URI} [L,NE,R=301]

	# Main site is: /public
	# RewriteCond %{REQUEST_URI} !^public
	# RewriteRule ^(.*)$ public/$1 [L]
	RewriteCond %{HTTP_HOST} ^(www\.)?zzap\.it$
	RewriteRule !^public/ /public%{REQUEST_URI}  [L]
</IfModule>

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/css application/json
    AddOutputFilterByType DEFLATE application/javascript
    # Commented out as it seems could give problems in Windows 7: to be tested
	# AddOutputFilterByType DEFLATE text/xml application/xml text/x-component
    AddOutputFilterByType DEFLATE application/xhtml+xml application/rss+xml application/atom+xml
    AddOutputFilterByType DEFLATE image/x-icon image/svg+xml application/vnd.ms-fontobject application/x-font-ttf font/opentype
</Ifmodule>

<IfModule mod_headers.c> 
	Header set X-XSS-Protection "1; mode=block" 
	Header set X-DNS-Prefetch-Control "off"
	Header set X-Content-Type-Options "nosniff"
	Header set X-Frame-Options "SAMEORIGIN"
	Header set Strict-Transport-Security "max-age=15768000; includeSubDomains"
	Header set Content-Security-Policy "script-src 'self' 'sha256-uZAxgw9J6DsKoyzxqzqXN98Vkjdsr24Mk8+Pwuk8j/4='; img-src * 'self' data: https:"
</IfModule>